<?xml version="1.0"?>
<zend-config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
    <plugin>
        <pluginName>CashOnDelivery</pluginName>
        <pluginNiceName>Cash on Delivery Payment for CoreShop</pluginNiceName>
        <pluginDescription><![CDATA[Cash on Delivery Payment Plugin for CoreShop - Pimcore eCommerce]]></pluginDescription>
        <pluginVersion>1.1.0</pluginVersion>
        <pluginRevision>1</pluginRevision>
        <pluginBuildTimestamp>0</pluginBuildTimestamp>
        <pluginClassName>\CashOnDelivery\Plugin</pluginClassName>
        <pluginIncludePaths>
            <path>/CashOnDelivery/lib</path>
        </pluginIncludePaths>
        <pluginNamespaces>
            <namespace>CashOnDelivery</namespace>
        </pluginNamespaces>
        <pluginJsPaths-extjs6>
            <path>/plugins/CashOnDelivery/static/js/cod.js</path>
            <path>/plugins/CashOnDelivery/static/js/settings.js</path>
        </pluginJsPaths-extjs6>
        <pluginCssPaths-extjs6>
            <path>/plugins/CashOnDelivery/static/css/cod.css</path>
        </pluginCssPaths-extjs6>
    </plugin>
</zend-config>
